* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .score {
    font-size: 68px;
  }

  .board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;

    .grid-item {
      height: 80px;
      width: 80px;
      border: 1px solid #000;
      border-radius: 5px;
      text-align: center;
      padding: 10px;

      .mole {
        max-width: 100%;
        animation: rise 0.5s ease-out;
      }
    }
  }
}

@keyframes rise {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;

  .modal-content {
    background-color: #aaf0c9;
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;

    button {
      display: block;
      margin: 10px auto;
      padding: 10px 20px;
      width: 100%;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}